<html>
    <h2>Generate internal links</h2>
    <p>To create an internal link, just visit /&lt;your-meeting-name&gt;. That will create a room and redirecto you to it.</p>
    <h3>Setting the authuser you want to use for these links</h3>
    <p>You can visit <a href="/set-authuser">/set-authuser</a> to define the authuser you want to use for google meet, so that you never need to switch accounts when visiting links on this site.</p>
    <h3>Privacy Policy</h3>
    <p>The URLs you visit end up creating a Google Calendar event (because Google Meet either doesn't have an API or I'm really bad searching for it). That means: The URLs you use get saved to a calendar I (Gervasio) have access to. Also access logs (including IP addresses) are saved. Other than that, no information is collected.</p>
</html>