<html>
    <h2>Generate internal links</h2>
    <p>To create an internal link, just visit /&lt;your-meeting-name&gt;. That will create a room and redirecto you to it.</p>
    <h3>Setting the authuser you want to use for these links</h3>
    <p>You can visit <a href="/set-authuser">/set-authuser</a> to define the authuser you want to use for google meet, so that you never need to switch accounts when visiting links on this site.</p>
</html>